In [1]:
import pandas as pd

# Load the dataset into a pandas DataFrame and display the first 10 rows.

In [2]:
df=pd.read_csv("Products.csv")

df

,Product ID,Product Name,Category,Price,Stock,Sales,Brand,Discount,Rating,Launch Date,Warranty Period (Years),Supplier,Product Description,Manufacture Country
0,101,Monitor,Accessories,1156,482,29,Brand C,0.21,NaN,20-07-2020,2.0,NaN,Best in class,India
1,102,Headphones,Clothing,289,305,45,Brand E,0.06,3.0,16-01-2022,1.0,Supplier B,Best in class,China
2,103,Charger,Home Appliances,4942,197,106,Brand E,0.07,NaN,11-11-2024,2.0,Supplier C,Top selling,China
3,104,Laptop,Clothing,1359,328,259,Brand E,0.13,NaN,18-12-2022,NaN,NaN,Affordable price,India
4,105,Camera,Electronics,4382,204,166,Brand E,0.34,NaN,26-08-2024,3.0,Supplier B,Best in class,China
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,496,Tablet,Accessories,829,285,197,Brand E,0.22,5.0,04-03-2020,5.0,NaN,Good quality product,India
396,497,Keyboard,Home Appliances,4762,244,149,Brand E,0.34,2.0,01-07-2024,2.0,NaN,Top selling,China
397,498,Monitor,Accessories,478,413,88,Brand C,0.30,4.0,13-04-2023,3.0,Supplier A,NaN,China
398,499,Charger,Furniture,3005,302,226,Brand E,0.14,2.0,15-06-2020,2.0,Supplier B,NaN,India
399,500,Monitor,Electronics,3403,255,97,Brand B,0.18,3.0,13-01-2021,1.0,Supplier B,Top selling,Germany

In [3]:
print(df.head(10))

   Product ID Product Name         Category  Price  Stock  Sales    Brand  \
0         101      Monitor      Accessories   1156    482     29  Brand C
1         102   Headphones         Clothing    289    305     45  Brand E
2         103      Charger  Home Appliances   4942    197    106  Brand E
3         104       Laptop         Clothing   1359    328    259  Brand E
4         105       Camera      Electronics   4382    204    166  Brand E
5         106       Laptop         Clothing   3038    182    213  Brand B
6         107      Charger      Accessories    963    324    118  Brand A
7         108      Charger      Electronics   4092    388    119  Brand A
8         109        Mouse  Home Appliances    482    400     11  Brand D
9         110      Charger         Clothing   2344    292    254  Brand B

   Discount  Rating Launch Date  Warranty Period (Years)    Supplier  \
0      0.21     NaN  20-07-2020                      2.0         NaN
1      0.06     3.0  16-01-2022                      1.0  Supplier B
2      0.07     NaN  11-11-2024                      2.0  Supplier C
3      0.13     NaN  18-12-2022                      NaN         NaN
4      0.34     NaN  26-08-2024                      3.0  Supplier B
5      0.13     NaN  22-04-2020                      NaN  Supplier A
6      0.16     4.0  26-07-2022                      2.0  Supplier B
7      0.05     NaN  30-12-2021                      2.0  Supplier C
8      0.16     5.0  23-08-2024                      NaN         NaN
9      0.12     5.0  10-03-2023                      5.0  Supplier B

    Product Description Manufacture Country
0         Best in class               India
1         Best in class               China
2           Top selling               China
3      Affordable price               India
4         Best in class               China
5           Top selling             Germany
6  Good quality product                 USA
7                   NaN               China
8                   NaN                 NaN
9  Good quality product                 USA

# Print the shape of the dataset

In [4]:
df.shape

(400, 14)

# Display all column names and their data types.

In [5]:
df.columns

Index(['Product ID', 'Product Name', 'Category', 'Price', 'Stock', 'Sales',
       'Brand', 'Discount', 'Rating', 'Launch Date', 'Warranty Period (Years)',
       'Supplier', 'Product Description', 'Manufacture Country'],
      dtype='object')

In [6]:
df.dtypes

Product ID                   int64
Product Name                object
Category                    object
Price                        int64
Stock                        int64
Sales                        int64
Brand                       object
Discount                   float64
Rating                     float64
Launch Date                 object
Warranty Period (Years)    float64
Supplier                    object
Product Description         object
Manufacture Country         object
dtype: object

# Find the number of missing values in each column

In [7]:
df.isnull().sum()

Product ID                  0
Product Name                0
Category                    0
Price                       0
Stock                       0
Sales                       0
Brand                       0
Discount                    0
Rating                     71
Launch Date                 0
Warranty Period (Years)    95
Supplier                   96
Product Description        76
Manufacture Country        80
dtype: int64

# Fill the missing values in the Rating column with the mean rating and show the updated DataFrame

In [8]:
df["Rating"].fillna(df["Rating"].mean(),inplace=True)

df

,Product ID,Product Name,Category,Price,Stock,Sales,Brand,Discount,Rating,Launch Date,Warranty Period (Years),Supplier,Product Description,Manufacture Country
0,101,Monitor,Accessories,1156,482,29,Brand C,0.21,2.993921,20-07-2020,2.0,NaN,Best in class,India
1,102,Headphones,Clothing,289,305,45,Brand E,0.06,3.000000,16-01-2022,1.0,Supplier B,Best in class,China
2,103,Charger,Home Appliances,4942,197,106,Brand E,0.07,2.993921,11-11-2024,2.0,Supplier C,Top selling,China
3,104,Laptop,Clothing,1359,328,259,Brand E,0.13,2.993921,18-12-2022,NaN,NaN,Affordable price,India
4,105,Camera,Electronics,4382,204,166,Brand E,0.34,2.993921,26-08-2024,3.0,Supplier B,Best in class,China
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,496,Tablet,Accessories,829,285,197,Brand E,0.22,5.000000,04-03-2020,5.0,NaN,Good quality product,India
396,497,Keyboard,Home Appliances,4762,244,149,Brand E,0.34,2.000000,01-07-2024,2.0,NaN,Top selling,China
397,498,Monitor,Accessories,478,413,88,Brand C,0.30,4.000000,13-04-2023,3.0,Supplier A,NaN,China
398,499,Charger,Furniture,3005,302,226,Brand E,0.14,2.000000,15-06-2020,2.0,Supplier B,NaN,India
399,500,Monitor,Electronics,3403,255,97,Brand B,0.18,3.000000,13-01-2021,1.0,Supplier B,Top selling,Germany

# Display all products whose price is greater than the average price.

In [9]:
avg_price=df["Price"].mean()

result=df[df["Price"]>avg_price]


result

,Product ID,Product Name,Category,Price,Stock,Sales,Brand,Discount,Rating,Launch Date,Warranty Period (Years),Supplier,Product Description,Manufacture Country
2,103,Charger,Home Appliances,4942,197,106,Brand E,0.07,2.993921,11-11-2024,2.0,Supplier C,Top selling,China
4,105,Camera,Electronics,4382,204,166,Brand E,0.34,2.993921,26-08-2024,3.0,Supplier B,Best in class,China
5,106,Laptop,Clothing,3038,182,213,Brand B,0.13,2.993921,22-04-2020,NaN,Supplier A,Top selling,Germany
7,108,Charger,Electronics,4092,388,119,Brand A,0.05,2.993921,30-12-2021,2.0,Supplier C,NaN,China
10,111,Keyboard,Home Appliances,4350,408,241,Brand C,0.24,2.000000,07-10-2022,1.0,Supplier B,Affordable price,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,494,Keyboard,Home Appliances,4314,66,8,Brand E,0.20,3.000000,14-03-2020,2.0,Supplier C,Good quality product,USA
394,495,Charger,Furniture,2980,386,137,Brand B,0.08,2.993921,15-08-2022,3.0,Supplier C,Top selling,India
396,497,Keyboard,Home Appliances,4762,244,149,Brand E,0.34,2.000000,01-07-2024,2.0,NaN,Top selling,China
398,499,Charger,Furniture,3005,302,226,Brand E,0.14,2.000000,15-06-2020,2.0,Supplier B,NaN,India
399,500,Monitor,Electronics,3403,255,97,Brand B,0.18,3.000000,13-01-2021,1.0,Supplier B,Top selling,Germany

# Find the average price for each product category.

In [10]:
avg_price_category=df.groupby("Category")["Price"].mean()

avg_price_category

Category
Accessories        2438.512821
Clothing           2392.848101
Electronics        2413.531646
Furniture          2825.864865
Home Appliances    2819.666667
Name: Price, dtype: float64

# Identify the category with the highest average price.

In [11]:
avg_price_category=df.groupby("Category")["Price"].mean()

highest_avg_category=avg_price_category.idxmax()

highest_avg_category

'Furniture'

# Count how many products are present in each category.

In [12]:
category_count=df["Category"].value_counts()

category_count

Home Appliances    90
Clothing           79
Electronics        79
Accessories        78
Furniture          74
Name: Category, dtype: int64

# For each category, find the product with the highest price using idxmax().

In [13]:
idx=df.groupby("Category")["Price"].idxmax()

highest_price_products=df.loc[idx]

highest_price_products

,Product ID,Product Name,Category,Price,Stock,Sales,Brand,Discount,Rating,Launch Date,Warranty Period (Years),Supplier,Product Description,Manufacture Country
74,175,Smartwatch,Accessories,4964,475,57,Brand C,0.15,1.0,15-09-2024,3.0,Supplier A,NaN,NaN
52,153,Camera,Clothing,4959,147,104,Brand B,0.13,3.0,03-04-2021,NaN,NaN,Top selling,USA
39,140,Keyboard,Electronics,4833,115,156,Brand A,0.11,1.0,18-11-2023,NaN,Supplier B,Affordable price,China
84,185,Monitor,Furniture,4945,47,297,Brand D,0.33,1.0,07-08-2021,1.0,NaN,Best in class,USA
106,207,Monitor,Home Appliances,4999,311,149,Brand A,0.29,3.0,01-05-2024,2.0,NaN,Affordable price,Germany

# For every Category–Brand combination, find the product with the highest price.

In [14]:
idx=df.groupby(["Category","Brand"])["Price"].idxmax()

highest_price=df.loc[idx]

highest_price

,Product ID,Product Name,Category,Price,Stock,Sales,Brand,Discount,Rating,Launch Date,Warranty Period (Years),Supplier,Product Description,Manufacture Country
171,272,Charger,Accessories,4936,349,290,Brand A,0.26,2.000000,14-02-2022,1.0,Supplier B,Best in class,India
302,403,Keyboard,Accessories,4529,361,162,Brand B,0.34,1.000000,30-11-2021,1.0,Supplier B,NaN,Germany
74,175,Smartwatch,Accessories,4964,475,57,Brand C,0.15,1.000000,15-09-2024,3.0,Supplier A,NaN,NaN
294,395,Charger,Accessories,4678,495,145,Brand D,0.28,5.000000,04-04-2023,5.0,NaN,Top selling,Germany
311,412,Mouse,Accessories,4795,324,97,Brand E,0.10,1.000000,01-12-2024,2.0,Supplier A,Affordable price,NaN
229,330,Tablet,Clothing,4549,299,249,Brand A,0.15,3.000000,16-06-2020,NaN,Supplier B,Top selling,NaN
52,153,Camera,Clothing,4959,147,104,Brand B,0.13,3.000000,03-04-2021,NaN,NaN,Top selling,USA
199,300,Smartwatch,Clothing,4851,120,77,Brand C,0.23,2.000000,07-12-2023,2.0,Supplier B,Good quality product,USA
148,249,Laptop,Clothing,4588,416,71,Brand D,0.08,3.000000,21-04-2024,2.0,Supplier B,Good quality product,NaN
62,163,Camera,Clothing,4499,176,176,Brand E,0.27,3.000000,28-03-2021,3.0,Supplier C,NaN,USA
39,140,Keyboard,Electronics,4833,115,156,Brand A,0.11,1.000000,18-11-2023,NaN,Supplier B,Affordable price,China
130,231,Keyboard,Electronics,4688,221,127,Brand B,0.22,2.000000,17-05-2022,5.0,Supplier C,Good quality product,NaN
278,379,Phone,Electronics,4401,150,283,Brand C,0.05,2.000000,05-06-2022,NaN,Supplier A,Top selling,India
114,215,Camera,Electronics,4833,306,193,Brand D,0.15,5.000000,07-02-2023,NaN,NaN,Affordable price,Germany
369,470,Monitor,Electronics,4420,121,270,Brand E,0.14,2.000000,02-01-2023,2.0,NaN,Top selling,China
289,390,Phone,Furniture,4378,425,161,Brand A,0.25,5.000000,08-08-2024,2.0,Supplier B,Top selling,Germany
394,495,Charger,Furniture,2980,386,137,Brand B,0.08,2.993921,15-08-2022,3.0,Supplier C,Top selling,India
179,280,Monitor,Furniture,4775,275,296,Brand C,0.27,4.000000,22-07-2024,1.0,Supplier C,Good quality product,USA
84,185,Monitor,Furniture,4945,47,297,Brand D,0.33,1.000000,07-08-2021,1.0,NaN,Best in class,USA
14,115,Phone,Furniture,4875,237,21,Brand E,0.09,5.000000,07-05-2021,2.0,NaN,Affordable price,China
106,207,Monitor,Home Appliances,4999,311,149,Brand A,0.29,3.000000,01-05-2024,2.0,NaN,Affordable price,Germany
92,193,Charger,Home Appliances,4920,492,202,Brand B,0.24,2.000000,29-10-2021,2.0,NaN,Top selling,Germany
293,394,Camera,Home Appliances,4989,470,71,Brand C,0.20,2.993921,17-06-2022,2.0,Supplier B,Best in class,NaN
257,358,Monitor,Home Appliances,4958,438,57,Brand D,0.14,3.000000,01-08-2023,5.0,Supplier A,NaN,China
2,103,Charger,Home Appliances,4942,197,106,Brand E,0.07,2.993921,11-11-2024,2.0,Supplier C,Top selling,China

In [15]:
idx=df.groupby(["Category","Brand"])["Price"].idxmax()
result=df.loc[idx,["Category","Brand","Price"]]

result

            Category    Brand  Price
171      Accessories  Brand A   4936
302      Accessories  Brand B   4529
74       Accessories  Brand C   4964
294      Accessories  Brand D   4678
311      Accessories  Brand E   4795
229         Clothing  Brand A   4549
52          Clothing  Brand B   4959
199         Clothing  Brand C   4851
148         Clothing  Brand D   4588
62          Clothing  Brand E   4499
39       Electronics  Brand A   4833
130      Electronics  Brand B   4688
278      Electronics  Brand C   4401
114      Electronics  Brand D   4833
369      Electronics  Brand E   4420
289        Furniture  Brand A   4378
394        Furniture  Brand B   2980
179        Furniture  Brand C   4775
84         Furniture  Brand D   4945
14         Furniture  Brand E   4875
106  Home Appliances  Brand A   4999
92   Home Appliances  Brand B   4920
293  Home Appliances  Brand C   4989
257  Home Appliances  Brand D   4958
2    Home Appliances  Brand E   4942

# For each category, compute the following:

# Number of products , Average price , Total stock

In [16]:
category_stats =df.groupby("Category").agg(
number_of_products=("Product ID","count"),
averages_price=("Price","mean"),
Total_stock=("Stock","sum")
)

category_stats

                 number_of_products  averages_price  Total_stock
Category
Accessories                      78     2438.512821        23582
Clothing                         79     2392.848101        21379
Electronics                      79     2413.531646        21171
Furniture                        74     2825.864865        17326
Home Appliances                  90     2819.666667        21663

# For each brand, compute:

# Number of products

In [17]:
brand_count=df["Brand"].value_counts()

brand_count

Brand D    91
Brand B    86
Brand E    84
Brand A    70
Brand C    69
Name: Brand, dtype: int64

# Maximum price for each brand

In [18]:
max_price=df.groupby("Brand")["Price"].max()
max_price

Brand
Brand A    4999
Brand B    4959
Brand C    4989
Brand D    4958
Brand E    4942
Name: Price, dtype: int64

# Minimum stock for each brand

In [19]:
min_stock=df.groupby("Brand")["Stock"].min()
min_stock

Brand
Brand A    11
Brand B     4
Brand C     6
Brand D     3
Brand E     2
Name: Stock, dtype: int64

# Create a new column Total_Sales = Price * Stock.

In [20]:
Total_sales=df["Price"] * df["Stock"]

Total_sales

0       557192
1        88145
2       973574
3       445752
4       893928
        ...
395     236265
396    1161928
397     197414
398     907510
399     867765
Length: 400, dtype: int64

# Group by brand and calculate the total sales for each brand

In [21]:
# Step 1: Create Total_Sales column
df["Total_Sales"] = df["Price"] * df["Stock"]

# Step 2: Group by brand to calculate total sales
brand_total_sales = df.groupby("Brand")["Total_Sales"].sum()

print(brand_total_sales)

Brand
Brand A    50344685
Brand B    55862014
Brand C    41254053
Brand D    68676128
Brand E    55661866
Name: Total_Sales, dtype: int64

# Identify the brand with the highest total sales

In [22]:
highest_sales_brand = brand_total_sales.idxmax()
highest_sales_brand

'Brand D'

# Find how many unique brands are present within each category

In [23]:

unique_brands_per_category = df.groupby("Category")["Brand"].unique()

unique_brands_per_category

Category
Accessories        [Brand C, Brand A, Brand D, Brand B, Brand E]
Clothing           [Brand E, Brand B, Brand D, Brand C, Brand A]
Electronics        [Brand E, Brand A, Brand D, Brand C, Brand B]
Furniture          [Brand C, Brand E, Brand A, Brand D, Brand B]
Home Appliances    [Brand E, Brand D, Brand C, Brand A, Brand B]
Name: Brand, dtype: object

# Display the top 3 categories based on the highest average price

In [24]:
top3_categories = df.groupby("Category")["Price"].mean().sort_values(ascending=False).head(3)
print(top3_categories)

Category
Furniture          2825.864865
Home Appliances    2819.666667
Accessories        2438.512821
Name: Price, dtype: float64